In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:

# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.drop("loan_status", axis=1)
X = pd.get_dummies(X)
# Create our target
#y = LabelEncoder().fit_transform(df["loan_status"])
y= df["loan_status"].ravel()

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [8]:
# Check the balance of our target values
y = pd.DataFrame(y,columns=['loan_status'])
y.value_counts()

loan_status
low_risk       68470
high_risk        347
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

scratchpad

```
# This is formatted as code
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
```

In [10]:
print(X_train.shape)
print(y_train.shape)

(51612, 95)
(51612, 1)

In [214]:
#y_train.head()

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [22]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brfc = BalancedRandomForestClassifier(n_estimators = 100)
brfc.fit(X_train, y_train)

BalancedRandomForestClassifier()

In [23]:
# Calculate the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfc.predict(X_test)
brfc_bas = balanced_accuracy_score(y_test, y_pred)
brfc_bas

0.7751268074339976

In [24]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
brfc_cm = confusion_matrix(y_test, y_pred)
brfc_cm

array([[   57,    30],
       [ 1796, 15322]], dtype=int64)

In [25]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
brfc_cri = classification_report_imbalanced(y_test, y_pred)
print(brfc_cri)

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.66      0.90      0.06      0.77      0.57        87
   low_risk       1.00      0.90      0.66      0.94      0.77      0.60     17118

avg / total       0.99      0.89      0.66      0.94      0.77      0.60     17205

In [26]:
# List the features sorted in descending order by feature importance
feature_names = X.columns
sorted(zip(random_forest.feature_importances_, feature_names), reverse=True)

[(0.07254875840441101, 'total_rec_prncp'),
 (0.06726849581421744, 'total_pymnt'),
 (0.060981249267146986, 'last_pymnt_amnt'),
 (0.056677488293964344, 'total_pymnt_inv'),
 (0.05025666874712821, 'total_rec_int'),
 (0.02499882235663684, 'int_rate'),
 (0.022952835060445053, 'issue_d_Jan-2019'),
 (0.01780694707585265, 'out_prncp'),
 (0.01764362910562383, 'dti'),
 (0.017374953287145733, 'out_prncp_inv'),
 (0.016846105674154375, 'installment'),
 (0.01623691345205825, 'mths_since_recent_inq'),
 (0.015894815614555607, 'il_util'),
 (0.01587365452009273, 'mo_sin_old_il_acct'),
 (0.01535468434492485, 'revol_bal'),
 (0.015107911872201393, 'mo_sin_old_rev_tl_op'),
 (0.014583675312847025, 'max_bal_bc'),
 (0.014505608371232798, 'total_bal_ex_mort'),
 (0.014024937287586007, 'annual_inc'),
 (0.013685281613534961, 'tot_hi_cred_lim'),
 (0.013601400063619672, 'total_bc_limit'),
 (0.013239103539702847, 'tot_cur_bal'),
 (0.01305514444268102, 'all_util'),
 (0.013006536759577627, 'bc_open_to_buy'),
 (0.012441726225534924, 'mths_since_recent_bc'),
 (0.01231439867901143, 'loan_amnt'),
 (0.012012343198553653, 'bc_util'),
 (0.01200684211927647, 'mths_since_rcnt_il'),
 (0.011980382406829554, 'total_rev_hi_lim'),
 (0.011973352263937352, 'total_bal_il'),
 (0.011913825073958247, 'avg_cur_bal'),
 (0.011157022369973213, 'num_rev_accts'),
 (0.011047839462808897, 'total_il_high_credit_limit'),
 (0.010643501291269602, 'num_actv_rev_tl'),
 (0.010509813651971126, 'issue_d_Mar-2019'),
 (0.010483312996649268, 'total_acc'),
 (0.010166402601031955, 'num_bc_tl'),
 (0.01003771112117414, 'num_op_rev_tl'),
 (0.009848358623288755, 'open_acc'),
 (0.00922041804085239, 'num_il_tl'),
 (0.008961293187638879, 'inq_last_12m'),
 (0.008922788321488349, 'total_cu_tl'),
 (0.008794774592325492, 'num_sats'),
 (0.008695070328278336, 'mort_acc'),
 (0.008503745885109966, 'mo_sin_rcnt_tl'),
 (0.00828928160656012, 'acc_open_past_24mths'),
 (0.008229962019720963, 'num_rev_tl_bal_gt_0'),
 (0.008154575569580947, 'inq_fi'),
 (0.00793277888027746, 'total_rec_late_fee'),
 (0.007910010035649739, 'num_actv_bc_tl'),
 (0.007861104180500011, 'pct_tl_nvr_dlq'),
 (0.007847284112258577, 'mo_sin_rcnt_rev_tl_op'),
 (0.0074546187292180086, 'num_tl_op_past_12m'),
 (0.007286973854285731, 'num_bc_sats'),
 (0.007188089828307696, 'open_il_24m'),
 (0.006914111049977596, 'open_rv_24m'),
 (0.006617880216275204, 'percent_bc_gt_75'),
 (0.006343673969984153, 'open_il_12m'),
 (0.0060716468339042555, 'delinq_2yrs'),
 (0.005427282629351721, 'next_pymnt_d_Apr-2019'),
 (0.005284747854778575, 'open_act_il'),
 (0.0050241264046620255, 'inq_last_6mths'),
 (0.004485810804579074, 'issue_d_Feb-2019'),
 (0.0043613489475592725, 'open_acc_6m'),
 (0.0040012934776648195, 'open_rv_12m'),
 (0.0038041738445624474, 'num_accts_ever_120_pd'),
 (0.0036942157250926446, 'verification_status_Verified'),
 (0.0032255252442142507, 'tot_coll_amt'),
 (0.0026275608960459685, 'next_pymnt_d_May-2019'),
 (0.0023533756735637915, 'home_ownership_RENT'),
 (0.0023054172793638907, 'home_ownership_OWN'),
 (0.0021006714203228517, 'home_ownership_MORTGAGE'),
 (0.0020048025666176313, 'verification_status_Not Verified'),
 (0.0018592611319449284, 'pub_rec'),
 (0.0018592390706551572, 'verification_status_Source Verified'),
 (0.0015884766497651322, 'application_type_Individual'),
 (0.00146533982571469, 'pub_rec_bankruptcies'),
 (0.0008936554406479585, 'num_tl_90g_dpd_24m'),
 (0.0007781418567174771, 'initial_list_status_f'),
 (0.0007095346605881554, 'initial_list_status_w'),
 (0.0005249497582794243, 'application_type_Joint App'),
 (0.00013360787625804778, 'home_ownership_ANY'),
 (0.00012005138516792705, 'chargeoff_within_12_mths'),
 (0.00010485596707818932, 'collections_12_mths_ex_med'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [28]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy = easy.fit(X_train, y_train)

In [29]:
# Calculated the balanced accuracy score
y_pred = easy.predict(X_test)
easy_bas = balanced_accuracy_score(y_test, y_pred)
easy_bas

0.925427358175101

In [30]:
# Display the confusion matrix
easy_cm = confusion_matrix(y_test, y_pred)
easy_cm

array([[   79,     8],
       [  979, 16139]], dtype=int64)

In [31]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
easy_cri = classification_report_imbalanced(y_test, y_pred)
print(easy_cri)

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205